@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root, .light, .light-theme {
    /* Shadcn UI - Light */
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.527 0.154 150.069);
    --primary-foreground: oklch(0.982 0.018 155.826);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.527 0.154 150.069);
    --accent-foreground: oklch(0.982 0.018 155.826);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.871 0.15 154.449);
    --chart-2: oklch(0.723 0.219 149.579);
    --chart-3: oklch(0.627 0.194 149.214);
    --chart-4: oklch(0.527 0.154 150.069);
    --chart-5: oklch(0.448 0.119 151.328);
    --radius: 0.45rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.627 0.194 149.214);
    --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /* Radix Colors - Lime (Light) */
    --lime-1: #fcfdf8;
    --lime-2: #f9fbed;
    --lime-3: #f1fabe;
    --lime-4: #e7f496;
    --lime-5: #dceb72;
    --lime-6: #cedc58;
    --lime-7: #bcca39;
    --lime-8: #a7b500;
    --lime-9: #daec00;
    --lime-10: #d1e100;
    --lime-11: #707a00;
    --lime-12: #3b4002;
    --lime-a1: #92b70007;
    --lime-a2: #aac70012;
    --lime-a3: #c9ec0041;
    --lime-a4: #c5e50069;
    --lime-a5: #c0db008d;
    --lime-a6: #b4ca00a7;
    --lime-a7: #a9bb00c6;
    --lime-a8: #a7b500;
    --lime-a9: #daec00;
    --lime-a10: #d1e100;
    --lime-a11: #707a00;
    --lime-a12: #393e00fd;
    --lime-contrast: #21240c;
    --lime-surface: #f8fae9cc;
    --lime-indicator: #daec00;
    --lime-track: #daec00;

    /* Radix Colors - Gray (Light) */
    --gray-1: #fcfcfc;
    --gray-2: #f9f9f9;
    --gray-3: #f0f0f0;
    --gray-4: #e8e8e8;
    --gray-5: #e1e1e1;
    --gray-6: #d9d9d9;
    --gray-7: #cecece;
    --gray-8: #bbb;
    --gray-9: #8d8d8d;
    --gray-10: #828282;
    --gray-11: #646464;
    --gray-12: #202020;
    --gray-a1: #00000003;
    --gray-a2: #00000006;
    --gray-a3: #0000000f;
    --gray-a4: #00000017;
    --gray-a5: #0000001e;
    --gray-a6: #00000026;
    --gray-a7: #00000031;
    --gray-a8: #00000044;
    --gray-a9: #00000072;
    --gray-a10: #0000007d;
    --gray-a11: #0000009b;
    --gray-a12: #000000df;
    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #8d8d8d;
    --gray-track: #8d8d8d;

    --color-background: #fff;
  }

  .dark, .dark-theme {
    /* Shadcn UI - Dark */
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.448 0.119 151.328);
    --primary-foreground: oklch(0.982 0.018 155.826);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.448 0.119 151.328);
    --accent-foreground: oklch(0.982 0.018 155.826);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.871 0.15 154.449);
    --chart-2: oklch(0.723 0.219 149.579);
    --chart-3: oklch(0.627 0.194 149.214);
    --chart-4: oklch(0.527 0.154 150.069);
    --chart-5: oklch(0.448 0.119 151.328);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.723 0.219 149.579);
    --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);

    /* Radix Colors - Lime (Dark) */
    --lime-1: #000;
    --lime-2: #111209;
    --lime-3: #212411;
    --lime-4: #2f3316;
    --lime-5: #3c411b;
    --lime-6: #494f21;
    --lime-7: #585e27;
    --lime-8: #68702c;
    --lime-9: #bdcb3a;
    --lime-10: #b3c02b;
    --lime-11: #cad85d;
    --lime-12: #e8f1b6;
    --lime-a1: #00000000;
    --lime-a2: #f1ff8012;
    --lime-a3: #eaff7924;
    --lime-a4: #ebff6e33;
    --lime-a5: #ecff6a41;
    --lime-a6: #ecff6b4f;
    --lime-a7: #efff6a5e;
    --lime-a8: #edff6570;
    --lime-a9: #eeff49cb;
    --lime-a10: #eeff39c0;
    --lime-a11: #efff6ed8;
    --lime-a12: #f6ffc1f1;
    --lime-contrast: #21240c;
    --lime-surface: #22241280;
    --lime-indicator: #bdcb3a;
    --lime-track: #bdcb3a;

    /* Radix Colors - Gray (Dark) */
    --gray-1: #000;
    --gray-2: #121212;
    --gray-3: #1f1f1f;
    --gray-4: #282828;
    --gray-5: #303030;
    --gray-6: #3a3a3a;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6e6e6e;
    --gray-10: #7b7b7b;
    --gray-11: #b4b4b4;
    --gray-12: #eee;
    --gray-a1: #00000000;
    --gray-a2: #ffffff12;
    --gray-a3: #ffffff1f;
    --gray-a4: #ffffff28;
    --gray-a5: #ffffff30;
    --gray-a6: #ffffff3a;
    --gray-a7: #ffffff48;
    --gray-a8: #ffffff60;
    --gray-a9: #ffffff6e;
    --gray-a10: #ffffff7b;
    --gray-a11: #ffffffb4;
    --gray-a12: #ffffffee;
    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6e6e6e;
    --gray-track: #6e6e6e;

    --color-background: #000;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}

/* Suporte para telas Display P3 */
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      /* Lime P3 - Light */
      --lime-1: oklch(99.3% 0.0065 114.9);
      --lime-2: oklch(98.3% 0.0196 114.9);
      --lime-3: oklch(96.3% 0.078 114.9);
      --lime-4: oklch(93.7% 0.1176 114.9);
      --lime-5: oklch(90.4% 0.1459 114.9);
      --lime-6: oklch(85.9% 0.1561 114.9);
      --lime-7: oklch(80.4% 0.1627 114.9);
      --lime-8: oklch(73.3% 0.1934 114.9);
      --lime-9: oklch(89.7% 0.2441 114.9);
      --lime-10: oklch(86.6% 0.2441 114.9);
      --lime-11: oklch(55.1% 0.1686 114.9);
      --lime-12: oklch(35.5% 0.0789 114.9);
      --lime-a1: color(display-p3 0.5804 0.7216 0.0235 / 0.028);
      --lime-a2: color(display-p3 0.651 0.7686 0.0078 / 0.067);
      --lime-a3: color(display-p3 0.8 0.9176 0.0039 / 0.232);
      --lime-a4: color(display-p3 0.7686 0.8863 0.0039 / 0.369);
      --lime-a5: color(display-p3 0.7412 0.8392 0.0039 / 0.487);
      --lime-a6: color(display-p3 0.6863 0.7608 0 / 0.577);
      --lime-a7: color(display-p3 0.6275 0.6902 0 / 0.671);
      --lime-a8: color(display-p3 0.5725 0.6275 0 / 0.781);
      --lime-a9: color(display-p3 0.8118 0.8902 0 / 0.702);
      --lime-a10: color(display-p3 0.7647 0.8314 0 / 0.718);
      --lime-a11: color(display-p3 0.3608 0.3961 0 / 0.863);
      --lime-a12: color(display-p3 0.1843 0.2 0 / 0.938);
      --lime-surface: color(display-p3 0.9725 0.9804 0.9176 / 0.8);
      --lime-indicator: oklch(89.7% 0.2441 114.9);
      --lime-track: oklch(89.7% 0.2441 114.9);

      /* Gray P3 - Light */
      --gray-1: oklch(99.1% 0 none);
      --gray-2: oklch(98.1% 0 none);
      --gray-3: oklch(95.4% 0 none);
      --gray-4: oklch(93% 0 none);
      --gray-5: oklch(90.8% 0 none);
      --gray-6: oklch(88.4% 0 none);
      --gray-7: oklch(85.1% 0 none);
      --gray-8: oklch(79.1% 0 none);
      --gray-9: oklch(64.3% 0 none);
      --gray-10: oklch(60.8% 0 none);
      --gray-11: oklch(50.2% 0 none);
      --gray-12: oklch(24.3% 0 none);
      --gray-a1: color(display-p3 0 0 0 / 0.0118);
      --gray-a2: color(display-p3 0 0 0 / 0.0235);
      --gray-a3: color(display-p3 0 0 0 / 0.0588);
      --gray-a4: color(display-p3 0 0 0 / 0.0902);
      --gray-a5: color(display-p3 0 0 0 / 0.1176);
      --gray-a6: color(display-p3 0 0 0 / 0.149);
      --gray-a7: color(display-p3 0 0 0 / 0.1922);
      --gray-a8: color(display-p3 0 0 0 / 0.2667);
      --gray-a9: color(display-p3 0 0 0 / 0.4471);
      --gray-a10: color(display-p3 0 0 0 / 0.4902);
      --gray-a11: color(display-p3 0 0 0 / 0.6078);
      --gray-a12: color(display-p3 0 0 0 / 0.8745);
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.3% 0 none);
      --gray-track: oklch(64.3% 0 none);
    }

    .dark, .dark-theme {
      /* Lime P3 - Dark */
      --lime-1: oklch(0% 0.0134 114.9);
      --lime-2: oklch(17.8% 0.0173 114.9);
      --lime-3: oklch(25.2% 0.0322 114.9);
      --lime-4: oklch(30.9% 0.0466 114.9);
      --lime-5: oklch(36% 0.0569 114.9);
      --lime-6: oklch(41% 0.0672 114.9);
      --lime-7: oklch(46.4% 0.0783 114.9);
      --lime-8: oklch(52.4% 0.0922 114.9);
      --lime-9: oklch(80.6% 0.1627 114.9);
      --lime-10: oklch(77.3% 0.1627 114.9);
      --lime-11: oklch(84.7% 0.147 114.9);
      --lime-12: oklch(93.8% 0.078 114.9);
      --lime-a1: color(display-p3 0 0 0 / 0);
      --lime-a2: color(display-p3 0.9412 0.9961 0.5529 / 0.071);
      --lime-a3: color(display-p3 0.9412 0.9961 0.5255 / 0.142);
      --lime-a4: color(display-p3 0.9412 1 0.5098 / 0.2);
      --lime-a5: color(display-p3 0.9412 1 0.4941 / 0.255);
      --lime-a6: color(display-p3 0.9373 1 0.4941 / 0.31);
      --lime-a7: color(display-p3 0.949 1 0.502 / 0.369);
      --lime-a8: color(display-p3 0.9373 1 0.4824 / 0.44);
      --lime-a9: color(display-p3 0.9451 1 0.4196 / 0.797);
      --lime-a10: color(display-p3 0.9451 1 0.3843 / 0.753);
      --lime-a11: color(display-p3 0.949 1 0.5137 / 0.848);
      --lime-a12: color(display-p3 0.9686 1 0.7804 / 0.946);
      --lime-surface: color(display-p3 0.1333 0.1412 0.0784 / 0.5);
      --lime-indicator: oklch(80.6% 0.1627 114.9);
      --lime-track: oklch(80.6% 0.1627 114.9);

      /* Gray P3 - Dark */
      --gray-1: oklch(0% 0 none);
      --gray-2: oklch(18.4% 0 none);
      --gray-3: oklch(23.9% 0 none);
      --gray-4: oklch(27.5% 0 none);
      --gray-5: oklch(30.9% 0 none);
      --gray-6: oklch(34.7% 0 none);
      --gray-7: oklch(40.1% 0 none);
      --gray-8: oklch(48.7% 0 none);
      --gray-9: oklch(53.8% 0 none);
      --gray-10: oklch(58.4% 0 none);
      --gray-11: oklch(77% 0 none);
      --gray-12: oklch(94.9% 0 none);
      --gray-a1: color(display-p3 0 0 0 / 0);
      --gray-a2: color(display-p3 1 1 1 / 0.0706);
      --gray-a3: color(display-p3 1 1 1 / 0.1216);
      --gray-a4: color(display-p3 1 1 1 / 0.1569);
      --gray-a5: color(display-p3 1 1 1 / 0.1882);
      --gray-a6: color(display-p3 1 1 1 / 0.2275);
      --gray-a7: color(display-p3 1 1 1 / 0.2824);
      --gray-a8: color(display-p3 1 1 1 / 0.3765);
      --gray-a9: color(display-p3 1 1 1 / 0.4314);
      --gray-a10: color(display-p3 1 1 1 / 0.4824);
      --gray-a11: color(display-p3 1 1 1 / 0.7059);
      --gray-a12: color(display-p3 1 1 1 / 0.9333);
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.8% 0 none);
      --gray-track: oklch(53.8% 0 none);
    }
  }
}

/* Configuração base global e de backgrounds padrões do Shadcn UI */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.527 0.154 150.069);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.527 0.154 150.069);
  --accent-foreground: oklch(0.982 0.018 155.826);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.871 0.15 154.449);
  --chart-2: oklch(0.723 0.219 149.579);
  --chart-3: oklch(0.627 0.194 149.214);
  --chart-4: oklch(0.527 0.154 150.069);
  --chart-5: oklch(0.448 0.119 151.328);
  --radius: 0.45rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.627 0.194 149.214);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.448 0.119 151.328);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.448 0.119 151.328);
  --accent-foreground: oklch(0.982 0.018 155.826);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.871 0.15 154.449);
  --chart-2: oklch(0.723 0.219 149.579);
  --chart-3: oklch(0.627 0.194 149.214);
  --chart-4: oklch(0.527 0.154 150.069);
  --chart-5: oklch(0.448 0.119 151.328);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.723 0.219 149.579);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}